@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@font-face {
  font-family: MainFont;
  src: url(font.ttf);
  display: swap;
}

:root {
  --primaryColor: #0b57fc;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  background: linear-gradient(to right, rgb(252, 251, 249), rgb(196, 194, 190));
}

.filter-container {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

.header {
  text-align: left;
  font-family: Azonix;
  font-weight: lighter;
  margin-bottom: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filter,
#sort {
  border-radius: 49px;
  background: linear-gradient(145deg, #6268ff, #5357e6);
  box-shadow: 5px 5px 10px #2e3180,
    -5px -5px 10px #8a92ff;
  padding: 10px;
  color: var(--mainWhite);
  border: none;
  width: auto;
  height: auto;
  margin-top: 4vh;
  margin-left: 2vw;
}

.typeahead {
  width: 52vw;
  height: 52px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  border-radius: 59px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 21px 21px 41px #9f9f9f,
    -21px -21px 41px #ffffff;

}

footer {
  text-align: left;
  height: 8vw;
  height: 4vw;
  margin-bottom: 0;
  cursor: pointer;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0rem;
  padding: 1rem;
  color: var(--mainWhite);
  text-transform: capitalize;
  background-color: black;
}

.autocomplete {
  width: 52vw;
  top: -10rem;
  text-align: left;
  background: var(--mainWhite);
  box-shadow: 0px 1px 5px 1px #000;
  padding: 0.6rem;
}

.autocomplete:hover {
  background: rgb(183, 187, 187);
  padding: 0.6rem;
}

.search {
  width: 80px;
  height: 45px;
  background: linear-gradient(to right, rgb(241, 234, 234), rgb(37, 36, 36));
  color: var(--mainWhite);

}

.products {
  padding: 4rem 0;
}
.section-title {
  background-color: black;
  color: rgb(235, 227, 227);
  padding: 0.6rem 2rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-toggles {
  display: flex;
}
.section-title h2 {
  flex-grow: 2;
  font-size: 2rem;
}
/* .section-title h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-transform: capitalize;
  background-color: black;
  color: rgb(235, 227, 227);
  position: sticky;
  letter-spacing: var(--mainSpacing);
} */

.restaurants-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3.5rem;
  grid-row-gap: 4.5rem;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}

.bag-btn {
  position: absolute;
  top: 10%;
  right: 0;
  background: var(--primaryColor);
  color: rgb(20, 20, 20);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.restaurant {
  box-shadow: 0px 1px 10px 1px #000;
  border-radius: 20px;
}

.restaurant-img {
  display: block;
  width: 100%;
  max-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .restaurant-img {
  opacity: 0.5;
}

.restaurant h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.restaurant h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 2vh;
}

#paginantion {
  align-items: center;
  justify-content: center;
}

.favourites, .clears,
.toggle {
  background: #000;
  color: rgb(255, 216, 20);
  border: #000;
  font-size: 1.5rem;
  width: 50px;
  height: 32px;
}

.glow-button:hover,
.toggle-theme-button:hover {
  color: rgba(255, 228, 92, 1);
  box-shadow: 0 20px 45px rgba(255, 216, 20, .4);
  background: transparent;
}

.prev, .next {
  cursor: pointer;
  border: none;
  border-radius: 64px;
  background: linear-gradient(145deg, #6d9eff, #5c85e6);
  box-shadow: 9px 9px 18px #4e70c2,
    -9px -9px 18px #7eb8ff;
  color: azure;
  width: 95px;
  height: 5vh;
  margin-top: 40px;
}

.prev:hover, .next:hover {
  color: #f5ff66;
}

.next {
  margin-left: 30px;
}

.outline-none {
  outline: none;
}

@media screen and (max-width: 568px) {
  .next {
    width: 100px;
  }

  .prev {
    width: 100px;
    margin-left: 18%;
  }

  #filter,
  #sort {
    width: 32vw;
    height: 7vh;
  }

  .typeahead {
    width: 75vw;
    margin-left: 10vw;
    height: 45px;
  }

  .autocomplete {
    width: 75vw;
    margin-left: 10vw;
  }

  .favourites {
    font-size: 1.5rem;
  }
  .section-title {
    flex-direction: column;
  }
  .section-title h2 {
    flex-grow: 1;
  }

}

@media screen and (min-width: 880px) {
  .restaurants-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    grid-column-gap: 3.5rem;
    grid-row-gap: 4.5rem;
  }
}




#button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#button:hover {
  background-color: #555;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primaryColor);
}

/*Preloader styling */
#loader{
   
  width:100%;
  height:100vh;
  background:white ;
  z-index:10000;
  background-color: #ffde6b;
}
#h1 {
  position: relative;
  margin: 0 auto;
  top: 25vh;
  width: 100vw;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 6vh;
  color: #333;
  opacity: .75;
  animation: pulse 2.5s linear infinite;
}

#cooking {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}
#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out .35s infinite;
}
#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}
#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
#cooking #area {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}
#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%,
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    transform: scale(1.2, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: .25;
  }
}

/* media query for pre loader */
@media(max-width:465px){
 #area{
   left: 30%;
 }
  
}